{{>licenseInfo}}
#include <QJsonArray>
#include <QJsonDocument>
#include <QJsonObject>
#include <QVariantMap>
#include <QHttpServerRequest>
#include <QHttpServerResponse>
#include <QUrlQuery>

#include "{{prefix}}ApiRouter.h"
#include "{{prefix}}Helpers.h"

{{#cppNamespaceDeclarations}}
namespace {{this}} {
{{/cppNamespaceDeclarations}}

{{prefix}}ApiRouter::{{prefix}}ApiRouter(QHttpServer *server) : m_server(server) {
    createApiHandlers();
}

{{prefix}}ApiRouter::~{{prefix}}ApiRouter(){

}

void {{prefix}}ApiRouter::createApiHandlers() { {{#apiInfo}}{{#apis}}
    m{{classname}}Handler = QSharedPointer<{{classname}}Handler>::create();{{/apis}}{{/apiInfo}}
}

{{#apiInfo}}{{#apis}}
void {{prefix}}ApiRouter::set{{classname}}Handler(QSharedPointer<{{classname}}Handler> handler){
    m{{classname}}Handler = handler;
}{{/apis}}{{/apiInfo}}

void {{prefix}}ApiRouter::setupRoutes() {
    {{#apiInfo}}{{#apis}}{{#operations}}{{#operation}}
    // {{httpMethod}} {{{path}}}
    m_server->route("{{{basePathWithoutHost}}}{{{path}}}",
        QHttpServerRequest::Method::{{#vendorExtensions.isDelete}}Delete{{/vendorExtensions.isDelete}}{{^vendorExtensions.isDelete}}{{#lambda.titlecase}}{{#lambda.lowercase}}{{httpMethod}}{{/lambda.lowercase}}{{/lambda.titlecase}}{{/vendorExtensions.isDelete}},
        [this]({{#pathParams}}{{#isLong}}qint64{{/isLong}}{{#isInteger}}{{^isLong}}qint32{{/isLong}}{{/isInteger}}{{^isLong}}{{^isInteger}}const QString&{{/isInteger}}{{/isLong}} {{paramName}}{{^-last}}, {{/-last}}{{/pathParams}}{{#hasParams}}{{^hasPathParams}}const QHttpServerRequest &request{{/hasPathParams}}{{#hasPathParams}}, const QHttpServerRequest &request{{/hasPathParams}}{{/hasParams}}{{^hasParams}}const QHttpServerRequest &request{{/hasParams}}) {
            try {
{{#hasQueryParams}}
            // Query parameters
            auto query = request.query();
{{#queryParams}}
            {{{dataType}}} {{paramName}}{{#defaultValue}} = {{{.}}}{{/defaultValue}};
            if (query.hasQueryItem("{{baseName}}")) {
                ::{{cppNamespace}}::fromStringValue(query.queryItemValue("{{baseName}}"), {{paramName}});
            }
{{/queryParams}}
{{/hasQueryParams}}
{{#hasBodyParam}}
            // Body parameters
{{#bodyParams}}{{#bodyParam}}
            {{{dataType}}} {{paramName}};
            QJsonDocument requestDoc = QJsonDocument::fromJson(request.body());
{{#isArray}}
            QJsonArray jsonArray = requestDoc.array();
            for (const auto &item : jsonArray) {
                {{items.baseType}} obj;
                ::{{cppNamespace}}::fromJsonValue(obj, item);
                {{paramName}}.append(obj);
            }
{{/isArray}}
{{^isArray}}
            ::{{cppNamespace}}::fromJsonValue({{paramName}}, requestDoc.object());
{{/isArray}}
{{/bodyParam}}{{/bodyParams}}
{{/hasBodyParam}}
{{#hasHeaderParams}}
            // Header parameters
{{#headerParams}}
            {{{dataType}}} {{paramName}};
            if (request.headers().contains("{{baseName}}")) {
                ::{{cppNamespace}}::fromStringValue(
                    QString::fromUtf8(request.headers().value("{{baseName}}")), {{paramName}});
            }
{{/headerParams}}
{{/hasHeaderParams}}

            // Call handler
            {{#returnType}}auto result = {{/returnType}}m{{classname}}Handler->{{nickname}}({{#allParams}}{{paramName}}{{^-last}}, {{/-last}}{{/allParams}});
{{#returnType}}

                // Serialize response
{{#returnTypeIsPrimitive}}
                QByteArray body = ::{{cppNamespace}}::toStringValue(result).toUtf8();
                return QHttpServerResponse("text/plain", body);
{{/returnTypeIsPrimitive}}
{{^returnTypeIsPrimitive}}
{{#isArray}}
                QJsonArray jsonArray;
                for (const auto &item : result) {
                    jsonArray.append(::{{cppNamespace}}::toJsonValue(item));
                }
                QJsonDocument responseDoc(jsonArray);
{{/isArray}}
{{^isArray}}
                QJsonDocument responseDoc(::{{cppNamespace}}::toJsonValue(result).toObject());
{{/isArray}}
                return QHttpServerResponse("application/json", responseDoc.toJson(QJsonDocument::Compact));
{{/returnTypeIsPrimitive}}
{{/returnType}}
{{^returnType}}
                return QHttpServerResponse(QHttpServerResponse::StatusCode::Ok);
{{/returnType}}
            } catch (const std::exception& e) {
                // Return error response
                {{prefix}}ErrorResponse error;
                error.setError(QString::fromStdString(e.what()));
                QJsonDocument errorDoc(::{{cppNamespace}}::toJsonValue(error).toObject());
                return QHttpServerResponse("application/json", errorDoc.toJson(QJsonDocument::Compact), QHttpServerResponse::StatusCode::BadRequest);
            }
        });
    {{/operation}}{{/operations}}{{/apis}}{{/apiInfo}}
}

{{#cppNamespaceDeclarations}}
}
{{/cppNamespaceDeclarations}}
